.jumbotron {
    position: relative;
    background:none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.jumbotron:after {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0px;
    background-image: url(https://cdn.pixabay.com/photo/2014/01/30/01/36/girl-254708_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.header{
    background-color: black;
}

.nav{
    background-color: red($color: #000000);
}

#titleB{
    scroll-padding-left: 45%;
    margin-left: 45%
}

div.foo{
    padding-top: 0px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .letter{
    display: inline-block;
    font-weight: 900;
    font-size: 8em;
    position: relative;
    color: #00B4F1;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
  }
  .letter:before, .letter:after{
    position:relative;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
  }
  .letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
  }
  .letter:before{
    color: #fff;
    text-shadow: 
      -1px 0px 1px rgba(255,255,255,.8),
      1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-15deg)
      rotateZ(0deg);
  }
  .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }
  .letter:hover:before{
    color: #fafafa;
    transform:
      rotateX(0deg)
      rotateY(-40deg)
      rotateZ(0deg);
  }
  .letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
  }
/* FOOTER--------------------------*/
:root {
  --clr1: #ddd;
  --clr2: #efefef;
  --clr3: #333;
  --clr4: tomato;
  --border-radius: 7px;
  --text-radius: 50em;
}

body *, body :after, body :before {
  box-sizing: border-box;
}

.transparent {
  background: transparent !important;
}

.wrap {
  max-width: 95%;
  min-width: 360px;
  margin: 0 auto;
  position: relative;
}
.wrap.sticky {
  margin-top: 150px;
  /* set height from header */
}

.fluid .wrap {
  max-width: 100% !important;
}


section {
  background: var(--clr2);
  width: 100%;
  border-radius: var(--border-radius);
  position: relative;
  margin: 0px 0 0 0;
}

section .text {
  display: block;
  height: 14px;
  background: var(--clr1);
  border-radius: var(--text-radius);
}

section.contentbox .text {
  margin: 0px 0 !important;
  max-width: 100%;
}



/*
footer {
  padding: 50px;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  position: relative;
  margin: 10px 0 0 0;
}
*/



@media (max-width: 728px) {
  
  .wrapper {
    padding: 0px 10px 100px 10px !important;
  }
}
body, html {

  max-width: 100%;
  overflow-x: hidden;
}

body {
  //cambio color
  background: darkslategrey;
  text-rendering: optimizelegibility;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
  background: var(--clr3);
  padding: 50px 50px 50px 50px;
}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer;
}

.footer {
  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  background-color: var(--clr4);

}

/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#003a55; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Credit to https://bootsnipp.com/snippets/bxDBA */

.footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px; }
.footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
 .footer-social-link li {
  display: inline-block; }
.footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff; }
  .footer-social-link a i.fa-facebook {
    background-color: #3B5998; }
   .footer-social-link a i.fa-twitter {
    background-color: #55ACEE; }
  .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39; }
  .footer-social-link a i.fa-linkedin {
    background-color: #0976B4; }
  .footer-social-link a i.fa-instagram {
    background-color: #B7242A; }
